fastapi[all]==0.103.2
SQLAlchemy==2.0.21
python-multipart==0.0.6
uvicorn==0.23.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic==2.4.2
python-dotenv==1.0.0
prometheus-fastapi-instrumentator==6.1.0
